
body {
    background-color: #000000;
    color: white;
    font-family:"Permanent Marker",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #8c08b4;
    color: white;
    font-family: "permanet Marker", sans-serif;
}